body {
  background-color: rgb(82, 82, 82);
  margin: 0;
  color:#ccc
}


.grid-container {
  background-color: rgba(0, 0, 0, 0.363);
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.square:hover {
  background-color: aquamarine;
}

.selected {
  background-color: rgb(156, 189, 9);
}


.board {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(10, 30px);
  gap: 2px;
  width: 300px;
  height: 300px;

}

.square {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
}

.square.selected {
  background-color: #3498db;
}

/* Styling for dropped ships */
.ship-cell {
  background-color: #3498db; 
  border: 1px solid #fff; 
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff; 
}

.selected-ship{
  background-color: rgb(189, 37, 219);
}



.Carrier {
  background-color: #FF5733;

}

.Battleship {
  background-color: #3498db;

}

.Cruiser {
  background-color: #2ecc71;

}

.Submarine {
  background-color: #f39c12;

}

.Destroyer {
  background-color: #e74c3c;

}




